* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 96px;
    background: #244E73;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.corpo{
    display: flex;
    background: #D5DED9;
    color: #48676D;
    height: 600px;
    margin-top: 20px;
    margin-left: 25%;
}

a{
    text-decoration: none;
    color: inherit;
}